/* 
    Document   : main
    Created on : Oct 5, 2013, 3:23:43 PM
    Author     : Donkey
    Description:
   Purpose of the stylesheet follows.
*/


/*
START OWN CSS
*/

/* RESET */

.boby {
   font-family:Roboto  ;
    
}

/* FONT */
@font-face {
    font-family: "ios_font";
    font-style: normal;
    font-weight: normal;
    src:  url("../font/HelveticaNeue-UltraLight.ttf")  ;

}
 
.ios_font {
    font-family: ios_font;

}

// ios vn
@font-face {
font-family: ios_fontvn;
font-style: normal;
    font-weight: normal;
src: url("../font/HelveticaNeue-Regular.ttf")  ; 

}
.ios_fontvn {
font-family: ios_fontvn;
}

@font-face {
font-family: 'Roboto';
font-style: normal;
font-weight: normal;
src: local('Roboto'), local('Roboto'), url("../font/Roboto.woff") format('woff');
}

/* FONT */

/*LIST MARGIN*/
.margin10 {

    margin-left: 5px;
    margin-right: 5px;

}



.margin20 {

    margin:10px;
    padding-left: 10px;       
    padding-right: 10px

}

/*LIST CORLOR TEXT*/
.white {

    color: white;

}

.blue {

    color: blue;

}
.skyblue {

    color: #39b3d7;

}


.grey {

    color: #363636;

}
.green {

    color: green;

}


.red {

    color: red;

}


.orangered {

    color: orangered;

}

.bold {

    font-weight: bold; 
}

.italic {

    font-style: italic; 
}

/*LIST FONT SIZE */

.sizelarge{
    font-size: large;

}
.sizexxl{
    font-size: xx-large;

}
.sizexl{
    font-size: x-large;

}

.sizelarger{
    font-size: larger;

}  
.sizemedium{
    font-size: medium;

}
.sizesmall{
    font-size: small;

}


/*LIST FONT SIZE */
/* position */
.center{
    margin: auto;
    text-align: center;
}

.left{
    margin: auto;
    text-align: left;
}

.right{
    margin: auto;
    text-align: right;
}

/* IMANGE CSS */

/* END OF IMAGE CSS */



.bo-tron {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-button {
    width: 8px;
    height:5px;
}
::-webkit-scrollbar-track {
    background: #2b2b2b;
    border: skinny plain lightgray;
    box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius:10px;
}
::-webkit-scrollbar-thumb {
    background: #fff;
    border: skinny plain gray;
    border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

.ulslidetext {
    background:#333;
    color:#fff;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    width:100%;
}

.quotes {display: none;}

/* CSS OF TIMELINE */

.wrap_timeline{
    background: url("../lib/timeline_bg.jpg") repeat;
//    border: solid 1px #c9302c;
    min-height: 100%;
    padding-top: 50px;
    margin: auto;
 
}

.timeline_padding_top{
   padding-top:183px;
   
}

.timeline_content{
    vertical-align: top;
   //  border: solid 1px #fff;
    width: 330px;
   
}
/* BLUE */
.timeline_content_location_blue{
    background: url("../lib/tag/timeline_location_blue.png") no-repeat center ;
    width: 330px;
    height: 167px;
    text-align: center;
    padding-top:45px;
    color: #018dff;

}
.timeline_content_date_blue{
    color: #018dff;
    text-align: center;
    width: 330px;
    font-size: xx-large;
}

.timeline_content_dotline_blue{
    background: url("../lib/tag/timeline_dotline_blue.png") no-repeat center ;
    width: 330px;
    height: 109px;
}
.timeline_content_main_blue{
    background: url("../lib/tag/timeline_content_blue.png") no-repeat center ;
    width: 330px;
    height: 298px;
}

/* ORANGE */

.timeline_content_location_orange{
    background: url("../lib/tag/timeline_location_orange.png") no-repeat center ;
    width: 330px;
    height: 167px;
    text-align: center;
    padding-top:45px;
    color: #f86c0b;

}
.timeline_content_date_orange{
    color: #f86c0b;
    text-align: center;
    width: 330px;
    font-size: xx-large;
}

.timeline_content_dotline_orange{
    background: url("../lib/tag/timeline_dotline_orange.png") no-repeat center ;
    width: 330px;
    height: 109px;
}
.timeline_content_main_orange{
    background: url("../lib/tag/timeline_content_orange.png") no-repeat center ;
    width: 330px;
    height: 298px;
}
/* GREEN */

.timeline_content_location_green{
    background: url("../lib/tag/timeline_location_green.png") no-repeat center ;
    width: 330px;
    height: 167px;
    text-align: center;
    padding-top:45px;
    color: #9eb71b;

}
.timeline_content_date_green{
    color: #9eb71b;
    text-align: center;
    width: 330px;
    font-size: xx-large;
}

.timeline_content_dotline_green{
    background: url("../lib/tag/timeline_dotline_green.png") no-repeat center ;
    width: 330px;
    height: 109px;
}
.timeline_content_main_green{
    background: url("../lib/tag/timeline_content_green.png") no-repeat center ;
    width: 330px;
    height: 298px;
}


/* RED */
.timeline_content_location_red{
    background: url("../lib/tag/timeline_location_red.png") no-repeat center ;
    width: 330px;
    height: 167px;
    text-align: center;
    padding-top:45px;
    color: #ff2a00;

}
.timeline_content_date_red{
    color: #ff2a00;
    text-align: center;
    width: 330px;
    font-size: xx-large;
}


.timeline_content_dotline_red{
    background: url("../lib/tag/timeline_dotline_red.png") no-repeat center ;
    width: 330px;
    height: 109px;
}
.timeline_content_main_red{
    background: url("../lib/tag/timeline_content_red.png") no-repeat center ;
    width: 330px;
    height: 298px;
}

.timeline_content_title{
    width: 311px;
    color: #fff;
    height: 55px;
    margin: auto;
    padding-top: 20px;
    padding-left: 20px;
    font-size: x-large;
     
}
.timeline_content_text{
    width: 311px;
    margin: auto;
    padding:10px;
    height: 230px;
    font-size: large;
    color: #fff;
    overflow: hidden;
}


/* CSS OF NOTES */

.note_page{
    height: 100%;
    background:  url("../lib/note_bg.jpg")  repeat ;

}

.banner_note{
    height:30px;
}

.footer_note{
    height:10px;
}
.table_note{
    margin: 0px;
    padding: 0px;
    /*height: 500px;*/

}
.note_detail {
    margin: auto;
    height: 270px;
    width: 222px;
    text-align: left;
    padding-left: 20px;
    padding-right: 10px;

}

.note_blue {
    background: url("../lib/tag/note_blue.png") no-repeat  bottom center; 

}

.note_green {
    background: url("../lib/tag/note_green.png") no-repeat  bottom center; 

}

.note_yellow {
    background: url("../lib/tag/note_yellow.png") no-repeat  bottom center; 

}

.note_orange {
    background: url("../lib/tag/note_orange.png") no-repeat  bottom center; 

}

.note_pink {
    background: url("../lib/tag/note_pink.png") no-repeat  bottom center; 

}

.donkey_avatar {
    height: 100%;
    width: 100%;
    background: url("../lib/tag/donkey_avatar.png") no-repeat  top right; 

}

.carrot_avatar {
    height: 100%;
    width: 100%;
    background: url("../lib/tag/carrot_avatar.png") no-repeat right top; 

}

.note_title{

    text-align: left;
    padding-top: 45px;
    padding-left: 0px;
    height: 70px;
}
.note_content {
    padding-left : 10px;
    padding-right: 10px;
    text-align: left;
    text-wrap:  normal;
    overflow: hidden;
    height: 130px;

}

.note_sign {
    // border: 1px solid #660066;
    height: 30px;
    width: 100%;
    margin: auto;
    padding-right: 13%;
    text-align: right;
    vertical-align: top;
    background: url("../lib/tag/sign_line.png") no-repeat bottom right;
}

.check_button{
    width: 30px;
    border: 0px;
    height: 30px;
    background: url("../lib/tag/check.png");

}

.delete_button{
    width: 30px;
    border: 0px;
    height: 30px;
    background: url("../lib/tag/delete.png");

}

/* END OF CSS OF NOTES */

/* CSS OF MAINPAGE */

.mainpage_wrap{

    background: url("../lib/bg_main.jpg") repeat ;

}
.mainpage_banner{
    height: 40px;

}

.mainpage_content{
    margin: auto;
    text-align: center;

}
.mainpage_table{
    margin: auto;

}

.mainpage_menu{
    width:213px;
    background: url("../lib/tag/chalk_stick.png") no-repeat center right;
}

.mainpage_paper_pen{
    width: 780px;
    height: 600px;
    background: url("../lib/tag/pen_coffee.png") no-repeat center right;

}

.mainpage_paper{
    text-align: left;
    padding-left: 30px;
    width: 780px;
    height: 600px;
    background: url("../lib/tag/paper_bg.png") no-repeat top left;

}

.paper_title{
    height: 100px;
    padding-top:50px;
    padding-left: 60px;
}

.paper_progress{
    margin-top:9px;
    margin-left: 70px;
    width: 360px;
    background: url("../lib/tag/blank_progress.png") no-repeat center left;
    height: 30px;

}

.paper_progress_fill{
    //  border:1px solid #2b2b2b;
    //  text-align: right;
    //   width: 300px;
    height: 30px;

}

.paper_content{
    margin-top: 30px;
    padding-left: 70px;

}

.history_wrap{
    margin-bottom: 22px;
}

.history_content{
    padding-left: 15px;
    line-height: 20px;
}
/* END OF CSS OF MAINPAGE */




/*

*/

.rotate_180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

