/* 
    Document   : main
    Created on : Oct 5, 2013, 3:23:43 PM
    Author     : Donkey
    Description:
   Purpose of the stylesheet follows.
*/


/*
START OWN CSS
*/

/* RESET */



.boby {

    height: 100%;
    width: 100%;
    font-family:Roboto  ;


}

/* FONT */
@font-face {
    font-family: "ios_font";


    src:  url("../font/HelveticaNeue-UltraLight.ttf")  ;

}

@font-face {
    font-family: "menu_font";


    src:  url("../font/Today is the Oldest and Youngest You Will Ever Be_0.ttf")  ;

}


textarea{
    resize: none;

}

.ios_font {
    font-family: ios_font;

}

.ios_font {
    font-family: ios_font;

}

.roboto_font {
    font-family: roboto;

}

@font-face {
    font-family: ios_fontvn;
    font-style: normal;

    src: url("../font/HelveticaNeue-Regular.ttf")  ; 

}
.menu_font {
    font-family: menu_font;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    src:  url("../font/roboto.ttf")  ;
}

/* FONT */

/*LIST MARGIN*/
.margin10 {

    margin-left: 5px;
    margin-right: 5px;

}



.margin20 {

    margin:10px;
    padding-left: 10px;       
    padding-right: 10px

}

/*LIST CORLOR TEXT*/
.white {

    color: white;

}

.blue {

    color: blue;

}
.skyblue {

    color: #39b3d7;

}


.grey {

    color: #363636;

}
.green {

    color: green;

}


.red {

    color: red;

}


.orangered {

    color: orangered;

}

.bold {

    font-weight: bold; 
}

.italic {

    font-style: italic; 
}

/*LIST FONT SIZE */

.sizelarge{
    font-size: 18px;

}
.sizexxl{
    font-size: 32px;

}
.sizexl{
    font-size: 24px;

}

.sizelarger{
    font-size: 19px;

}  
.sizemedium{
    font-size: 16px;

}
.sizesmall{
    font-size: 13px;

}


/*LIST FONT SIZE */
/* position */
.center{
    margin: auto;
    text-align: center;
}

.left{
    margin: auto;
    text-align: left;
}

.right{
    margin: auto;
    text-align: right;
}

/* IMANGE CSS */

/* END OF IMAGE CSS */



.bo-tron {

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

}

::-webkit-scrollbar {
    width: 8px;

}
::-webkit-scrollbar-button {
    width: 8px;
    height:5px;
}
::-webkit-scrollbar-track {
    background: #2b2b2b;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius:5px;
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #fff;
    border: skinny plain gray;
    border-radius:8px;
}
::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

.ulslidetext {
    background:#333;
    color:#fff;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    width:100%;
}

.quotes {display: none;}

/* CSS OF TIMELINE */

.wrap_timeline{
    background: url("../lib/timeline_bg.jpg") repeat ;

    height: 955px;

    padding-top: 50px;
    margin: auto;


}

.timeline_table{
    width: 100%;

}

.timeline_padding_top{
    padding-top:185px;

}

.timeline_content{
    vertical-align: top;
    //  border: solid 1px #fff;
    width: 330px;

}

.timeline_content_date{

    height: 35px;

}

.timeline_content_location {
    height: 90px;
    width: 70px;
    word-wrap: normal;
   
    
    margin: auto;
   
    vertical-align: middle; 
    text-align: center; 
}

.timeline_conner{
    background: url("../lib/tag/timeline_conner.png") no-repeat 200px 47px ;
    height:550px;
    width: 330px;
    text-align: center;
    vertical-align: top;

    color: white;
    font-family: ios_font;
    font-size: 40px;

}
/* BLUE */
.timeline_content_location_blue{
    background: url("../lib/tag/timeline_location_blue.png") no-repeat center ;
    width: 330px;
    height: 167px;
    text-align: center;
    padding-top: 8px;
     
    color: #018dff;

}
.timeline_content_date_blue{
    color: #018dff;
    text-align: center;
    width: 330px;

}

.timeline_content_dotline_blue{
    background: url("../lib/tag/timeline_dotline_blue.png") no-repeat center ;
    width: 330px;
    height: 109px;
}
.timeline_content_main_blue{
    background: url("../lib/tag/timeline_content_blue.png") no-repeat center ;
    width: 330px;
    height: 298px;
}

/* ORANGE */

.timeline_content_location_orange{
    background: url("../lib/tag/timeline_location_orange.png") no-repeat center ;
    width: 330px;
    height: 167px;
    text-align: center;
      padding-top: 8px;
    color: #f86c0b;

}
.timeline_content_date_orange{
    color: #f86c0b;
    text-align: center;
    width: 330px;

}

.timeline_content_dotline_orange{
    background: url("../lib/tag/timeline_dotline_orange.png") no-repeat center ;
    width: 330px;
    height: 109px;
}
.timeline_content_main_orange{
    background: url("../lib/tag/timeline_content_orange.png") no-repeat center ;
    width: 330px;
    height: 298px;
}
/* GREEN */

.timeline_content_location_green{

    background: url("../lib/tag/timeline_location_green.png") no-repeat center ;
    width: 330px;
    height: 167px;
    text-align: center;
    padding-top: 8px;
    color: #9eb71b;

}
.timeline_content_date_green{
    color: #9eb71b;
    text-align: center;
    width: 330px;

}

.timeline_content_dotline_green{

    background: url("../lib/tag/timeline_dotline_green.png") no-repeat center ;
    width: 330px;
    height: 109px;
}
.timeline_content_main_green{
    background: url("../lib/tag/timeline_content_green.png") no-repeat center ;
    width: 330px;
    height: 298px;
}


/* RED */
.timeline_content_location_red{
    background: url("../lib/tag/timeline_location_red.png") no-repeat center ;
    width: 330px;
    height: 167px;
    text-align: center;
     padding-top: 8px;
    color: #ff2a00;

}
.timeline_content_date_red{
    color: #ff2a00;
    text-align: center;
    width: 330px;

}


.timeline_content_dotline_red{
    background: url("../lib/tag/timeline_dotline_red.png") no-repeat center ;
    width: 330px;
    height: 109px;
}
.timeline_content_main_red{
    background: url("../lib/tag/timeline_content_red.png") no-repeat center ;
    width: 330px;
    height: 298px;
}

.timeline_content_title{
    width: 311px;
    color: #fff;
    height: 55px;
    margin: auto;
    padding-top: 25px;
    padding-left: 20px;


}
.timeline_content_text{
    width: 311px;
    margin: auto;
    padding:10px;
    height: 230px;
    color: #fff;
    overflow: hidden;
}
/* TIMELINE BLANK */
.input_timeline_location{
    background: transparent;
    width: 100px;
    hight:100px;
    margin: auto;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #39b3d7;
}

.input_timeline_date{
    background: transparent;
    width: 100%;
    margin: auto;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #39b3d7;
    height: 40px;



}
.input_timeline_d  {
    border: 0px;
    background: transparent;
    width: 30%;
    text-align: center;
    color: white;

} 

.input_timeline_title{
    background: transparent;
    width: 90%;
    margin: auto;
    text-transform: uppercase;
    text-align: left;
    border: 1px solid #FFF;

}
.input_timeline_content{
    background: transparent;
    width: 100%;
    height: 180px;
    margin: auto;

    text-align: left;
    border: 1px solid #FFF;

}

.timeline_submit{
    text-align: right;
    padding-top:8px;
}

/* CSS OF NOTES */

.note_page{

    height: 955px;

    background:  url("../lib/bg_main.jpg")  repeat ;

}

.banner_note{
    height:30px;
}

.footer_note{
    height:10px;
}
.table_note{
    margin: 0px;
    padding: 0px;
    /*height: 500px;*/

}
.note_detail {
    //  border: 1px solid #018dff;
    margin: auto;
    height: 380px;
    width: 335px;
    text-align: left;
    padding-left: 20px;
    padding-right: 10px;

}

.note_blue {
    background: url("../lib/tag/note_blue.png") no-repeat  bottom center; 

}

.note_green {
    background: url("../lib/tag/note_green.png") no-repeat  bottom center; 

}

.note_yellow {
    background: url("../lib/tag/note_yellow.png") no-repeat  bottom center; 

}

.note_orange {
    background: url("../lib/tag/note_orange.png") no-repeat  bottom center; 

}

.note_pink {
    background: url("../lib/tag/note_pink.png") no-repeat  bottom center; 

}

.donkey_avatar {
    height: 100%;
    width: 100%;
    background: url("../lib/tag/donkey_avatar.png") no-repeat  top right; 

}

.carrot_avatar {
    height: 100%;
    width: 100%;
    background: url("../lib/tag/carrot_avatar.png") no-repeat right top; 

}

.note_title{

    text-align: left;
    padding-top: 35px;
    padding-left: 10px;
    height: 80px;
}
.note_content {
    padding-left : 10px;
    padding-right: 10px;
    text-align: left;
    text-wrap:  normal;
    overflow: hidden;
    height: 215px;

}

.note_sign {
    // border: 1px solid #660066;
    height: 40px;
    width: 100%;
    margin: auto;
    padding-right: 20px;
    text-align: right;
    vertical-align: top;
    background: url("../lib/tag/sign_line.png") no-repeat bottom right;
}

.check_button{
    width: 30px;
    border: 0px;
    height: 30px;
    background: url("../lib/tag/check.png");

}

.delete_button{
    width: 30px;
    border: 0px;
    height: 30px;
    background: url("../lib/tag/delete.png");

}

/* END OF CSS OF NOTES */

/* CSS OF MAINPAGE */

.mainpage_wrap{
    width: 100%;
    min-height: 100%;

    // height: auto;

    background: url("../lib/bg_main.jpg") repeat ;

}
.mainpage_banner{
    height: 150px;

}

.mainpage_content{
    margin: auto;
    text-align: center;

}


.mainpage_table{
    margin: auto;

}

.mainpage_menu{

    width:213px;
    background: url("../lib/tag/chalk_stick.png") no-repeat center right;
    font-size: 80px;
    color: white;
    text-align: right;
    padding-right: 70px;;
    line-height: 80px;
    padding-top: 80px;
    vertical-align: top;
}

.mainpage_menu a:hover  {
    text-decoration: none;
    font-size: 100px;

}

.mainpage_menu a   {
    color: white;

}

.mainpage_paper_pen{
    width: 780px;
    height: 600px;
    background: url("../lib/tag/pen_coffee.png") no-repeat center right;

}

.mainpage_paper{
    text-align: left;
    padding-left: 30px;
    width: 780px;
    height: 600px;
    background: url("../lib/tag/paper_bg.png") no-repeat top left;

}

.paper_title{
    height: 100px;
    padding-top:50px;
    padding-left: 60px;
}

.paper_progress{
    margin-top: 9px;
    margin-left: 70px;
    width: 360px;
    background: url("../lib/tag/blank_progress.png") no-repeat center left;
    height: 30px;

}

.paper_progress_fill{

    height: 30px;

}

.paper_content{
    margin-top: 26px;
    padding-left: 70px;

}

.history_wrap{
    margin-bottom: 19px;
}

.history_content{
    width: 780px;
    padding-left: 15px;
    line-height: 20px;
}
/* END OF CSS OF MAINPAGE */




/*

*/

.rotate_180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}


/*
CSS OF LOGIN
*/

.login_wrap {
    background: url("../lib/login_bg.jpg") no-repeat center;
    height: 100%;
    width: 100%;
    padding-top:10%;
}

div.member_signin {
    text-align: center;
}

div.member_signin  i.fa.fa-user {
    color: #FFF;
    background-color: #FFD202;
    border-radius: 500px;
    font-size: 36px;
    padding: 15px 20px 15px 20px;
}

div.fa_user {
    margin-top: -47px;
    margin-bottom: 15px;
}

p.member {
    color: #888888;
    margin-bottom: 20px;
}

button.login {
    width: 100%;
    text-transform: uppercase;
}

form.loginform div.input-group {
    width: 100%;
}

form.loginform input[type="text"], form.loginform input[type="password"] {
    color: #6C6C6C;
    text-align: center;
    height: 50px;
    font-size: 30px;
}

p.forgotpass {
    margin-top: 10px;
    font-size: 19px;
}

p.forgotpass a {
    color: #F5683D;
}

/* CSS OF DIARY */

.diary_content{
    width: 90%;
    height: 78%;
    background: transparent;
    overflow-y: auto;

}
.diary_page{
    width: 100%;
    text-align: right;

}

.diary_content_blank {
    width: 100%;
    height: 80%;
    background: transparent;
    padding: 5px;


}

.diary_page {
    width: 100%;
    text-align: left;
}
.diary_title {
    width: 100%;
    text-align: left;
    margin-bottom: 7px;

}

.border1px {
    border: 1px solid #888888;   
}


/* STATUS */

.wrap_status{

    height: 100%;

    min-width: 100%;
    margin: auto;
    background: url("../lib/login_bg.jpg") repeat;

}

.wrap_content{
    width: 644px;
    margin: auto;
    height: 100%;

}
.status_top{
    width: 644px;
    height: 10px;

}


.status_progress{
    width: 644px;
    display: inline-block;
    height:170px;

}

.status_action{
    width: 644px;
    height: 130px;
    text-align: center;
    vertical-align: bottom;

}

.status_tv{
    width: 640px;
    height: 432px;
    padding-left: 24px;
    padding-top:16px;
    background: url("../lib/tv.png");

}

.prop_progress{
    position : relative;
    left:0px;
    top :25px;

    margin-left: 10px;
    margin-right: 10px;
}

.status_progressbar {

    width: 322px;
    height: 60px;
    padding-top:2px;
    padding-left:3px;
    padding-right: 5px;
    background: url("../lib/blank_progress.png") no-repeat bottom center ;

}

.carrot_status {

    position : relative;
    top: 50px;
    z-index: 100;

}

.donkey_status {

    position : relative;
    top: 50px;
    left: 0%;
}

.action_log{
    background: url("../lib/action_log.png") no-repeat;
    height: 200px;
    width: 100%;
    padding-left : 130px;
    padding-top:29px;
}

.icon_action {
    margin-right: 20px;
    margin-top:30px;

}

.icon_action:hover {
    margin-right: 10px;
    margin-top:10px;
    width: 120px;
    heigh: 120px;
}

.status_reason {
    height: 50px;
    padding-top:12px;
    width: 100%;
    margin: auto;
}

.flying_mess {
   height:180px;
   top:0px;
   left: 0px;
   position : fixed;
  text-align: center;
  vertical-align: middle;
  z-index: 1;
  color: white;
  font-weight: bold;
    
}

.flying_mess a{
    text-decoration: none;
    color: inherit;
    
}

.blink {
    color:red;
}

/* TO DO LIST */

.wrap_todolist {
   background: url("../lib/timeline_bg.jpg") repeat ;
    width: 100%;
    height: auto;
    min-height: 100%;
    margin: auto;
    padding-top:50px;
    
   
}

.todolist_content {
    margin: auto;
    width: 600px;
    height: auto;
}

.todolist_banner{
  
    width: 100%;
    height: 147px;
    background: url("../lib/todolisbanner.jpg");
    
}

.todolist_table{
  
    width: 600px;
    border: 0px;
    background: url("../lib/todolist_background.jpg") repeat-y ; 
}


.todolist_detail{
    width: 100%;
    height: 50px;
   
}

.todolist_check{
    border: 0px;
    width: 100px;
    height: 50px;
 
  padding-left: 60px;
  padding-top : 0px;
  vertical-align: bottom;
    
}

.todolist_check_blue {
       background:  url("../lib/tag/todolist_blue_circle.png") no-repeat right ;
}

.todolist_check_green{
       background:  url("../lib/tag/todolist_green_circle.png") no-repeat right ;
}

.todolist_check_red {
       background:  url("../lib/tag/todolist_red_circle.png") no-repeat right ;
}

.todolist_check_yellow {
       background:  url("../lib/tag/todolist_yellow_circle.png") no-repeat right ;
}

.todolist_check_orange {
       background:  url("../lib/tag/todolist_orange_circle.png") no-repeat right ;
}

.todolist_check_pupple {
       background:  url("../lib/tag/todolist_pupple_circle.png") no-repeat right ;
}

.todolist_title{
    border: 0px;
    width: 420px;
    height: 50px;
    margin: auto;
    padding-top: 19px;
    padding-left: 5px;
}

.todolist_title_blue {
    background:  url("../lib/tag/todolist_blue_line.png") no-repeat right ;    
}
.todolist_title_green {
    background:  url("../lib/tag/todolist_green_line.png") no-repeat right ;    
}
.todolist_title_orange {
    background:  url("../lib/tag/todolist_orange_line.png") no-repeat right ;    
}
.todolist_title_red {
    background:  url("../lib/tag/todolist_red_line.png") no-repeat right ;    
}
.todolist_title_yellow {
    background:  url("../lib/tag/todolist_yellow_line.png") no-repeat right ;    
}

.todolist_title_pupple {
    background:  url("../lib/tag/todolist_pupple_line.png") no-repeat right ;    
}
.todolist_avatar{
       border: 0px;
     width: 60px;
     height: 50px;     
}

.todolist_footer{
    
    width: 100%;
    height: 20px;
    background: url("../lib/todolistfooter.jpg");
    
}